@using NailCreativeAcademy.Core.Contracts.Course
@model DeleteCourseViewModel
@inject ICourseService courseService
@{
    ViewBag.Title = "Премахване на курсa";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">@Model.Name</h3>
                <p class="mb-0"><strong>Date and Time:</strong> @Model.StartDate</p>              
            </div>
            <div class="card-footer">
                @if(await courseService.CourseHasEnrolledStudent(Model.Id))
                {
                    <p class="text-danger mt-3">"!Не можете да изтриете курса. В курсът има записан/и студент/и!"</p>
                    <a asp-action="All" class="btn btn-secondary">Назад</a>
                }
                else
                {
                    <p class="text-danger mt-3">"Наистина ли искате да премахнете курса?"</p>
                    <form asp-action="ConfirmDelete" method="post">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-danger">Изтриване</button>
                    </form>
                }
               
            </div>
        </div>
    </div>
</div>