@model CourseDetailsViewModel
@{
    ViewData["Title"] = "Информация за курса";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="text-center">
    <img src="~/image/Course/Information/@Model.Details" class="card-img-top" alt="" />
 </div>

<a asp-controller="Course" asp-action="All" class="btn btn-success mb-2 w-100 p-3 fw-bold">Назад</a>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}