@model CourseFormModel
@{
    ViewData["Title"] = "Редакция";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<partial name="_CourseFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}