@{
    ViewData["Title"] = "Контакти";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="text-center">
    <img src="~/image/Homepage/ContactUs.jpg" class="card-img-top" alt="" />
    <a asp-controller="Course" asp-action="All" class="btn btn-light mb-2 w-100 p-3 fw-bold">Назад</a>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}