@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Nail Creative Academy е твоят пътеводител в света на маникюра!</h3>
    <img class="home-page-image" src="~/images/homepagepic.png"/>
</div>
   