@model SaloonViewModel

@{
    ViewBag.Title =@Model.Name;
}

<div class="container img-overlay">
    <img src="~/image/Saloons/Contacts/@(Model.Name+".jpg")" alt="" style="width:100%;">
    <div class="centered ">
        <h2 class="text-center">@ViewBag.Title</h2>
        
        <h3 class="text-center">Телефон: @Model.PhoneNumber</h3>
        <h4 class="text-center">или</h4>
        <h4 class="text-center">ни посети на адрес: </h4>
        <h3 class="text-center">@Model.Address</h3>
        
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}