@model TrainerViewModel

@{
    ViewBag.Title = "Премахни";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">@Model.Name</h3>
            </div>
            <div class="card-footer">
                <p class="text-danger mt-3">"Наистина ли искате да премахнете обучителя?"</p>
                    <form asp-action="ConfirmDelete" method="post">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-danger">Премахване</button>
                    </form>

            </div>
        </div>
    </div>
</div>